@font-face{
    font-family: "head";
    src: url(18872.ttf);
}
a {
    text-decoration: none;
    color: white;
    transition: font-size 0.5s, text-decoration;
}
a:hover{
    /* -webkit-text-stroke: 0.6x black; */
    font-size: 30px;
    text-decoration: underline;
}
*{
    color: white;
    text-align: center;
    font-size: 20px;
}
input{
    color: black;
    font-weight: bold;
}
#cloc {
    width: 400px;
    /* margin-top: -150px; */
    z-index: -999;
    top: 0px;
    left: 20%;
    position: absolute;
}
#time{
    margin-top: 100px;
    width: 250px;
    margin-top: 180px ;
    height: 35px;
    font-size: 23px;
    background: none;
    border: none;
    /* color: rgb(255, 255, 255); */
    /* text-shadow: 0 0 8px rgb(0, 0, 0), 0 0 4px rgb(0, 0, 0); */
    /* text-shadow: 0 0 8px white; */
}
#time_form{
    height: 400px;
    background: url(clock1.png);
    background-size: 400px ;
    background-repeat: no-repeat;
    background-position: center;
}
#calculator{
    /* margin-top: -50px; */
    height: 650px;
    background: url(svitok.png);
    background-size: 400px ;
    background-repeat: no-repeat;
    background-position: center;
}
.text{
    background: none;
    width: 50px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid rgb(104, 68, 48);
    color: rgb(82, 39, 38);
}
.in1, .in2{
    margin-top: -30px;
}
.symb{
    display: inline-block;
    width: 13px;
    color: black;
    color: rgb(82, 39, 38);
    font-weight: bolder;
}
.hh{
    color: rgb(82, 39, 38);
    /* text-decoration: underline; */
    font-size: 35px ;
    font-weight: bolder;
    font-family: head;
}
.res{
    width: 95px;
}
#rozr{
    border-radius: 15px;
    margin-top: 10px;
    background-color: rgb(216, 185, 117);
    border: 2px outset rgb(82, 39, 38);
    color: rgb(82, 39, 38);
    font-family: head;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: inset 0 0 5px rgb(44, 21, 21);
}
#rozr:active{
    box-shadow: inset 0 0 5px rgb(44, 21, 21),inset 0 0 15px rgb(44, 21, 21);
}
.in{
    background-color: rgba(228, 228, 228, 0.719);
}
.in:focus{
    box-shadow: inset 0 0 5px rgb(44, 21, 21);
    outline: none;

}
.data{
    background-color: rgba(228, 228, 228, 0.719);
    width: 60px;
}
#tabl{
    margin: auto;
    margin-top: 20px;
}
.but3{
    font-size: 16px;
    border-radius: 8px;
    margin-top: 15px;
}
.but3:active{
    box-shadow: inset 0 0 5px rgb(44, 21, 21),inset 0 0 15px rgb(44, 21, 21);
}