a {
    text-decoration: none;
    color: white;
    transition: font-size 0.5s, text-decoration;
}
a:hover{
    /* -webkit-text-stroke: 0.6x black; */
    font-size: 30px;
    text-decoration: underline;
}
*{
    color: white;
    text-align: center;
    font-size: 20px;
}
input{
    color: black;
    font-weight: bold;
}
#formula1{
    width: 300px;
}
#but1{
    background: none;
    border: 1px solid white;
    border-radius: 20px;
}
.onsel{
    color:black;
    background: rgb(187, 187, 187);
    border: 2px solid black;
    border-radius: 15px;
}
#input_massage{
    color: black;
    border-radius: 15px;
}
#formula2{
    width: 450px;
}
#y,#F,#x {
    margin-top: 10px;
    text-align:left;
}
#y5,#F5,#x5 {
    margin-top: 10px;
    text-align:left;
}
.but{
    border-radius: 15px;
    margin-top: 12px ;
}
#formula3{
    width: 400px;
}




.cbalink a:hover{
    font-size: 20px;
    /* text-decoration: underline; */
}